# TO RUN THE PROJECT ON YOUR LOCAL LAPTOP JUST REMOVE .example FROM FILE NAME, 
# OR CREATE ANOTHER .env FILE WITH THE FOLLOWING VALUES
# NOTE THAT DOCKER WILL AUTOMTICALLY COPY THIS FILE CONTENTS INTO .env FILE
# We are not going to set DATABASE_URL since 
# for local setup we will use local db and we will load our fixture full_data.json into it
DEBUG="True"
SECRET_KEY="django-insecure-d2)z$srx%yi%+pb4ent)f!sa7^9zb$c^r+a9b2kaxdae)rz$^k"
