# TO RUN THE PROJECT ON YOUR LOCAL LAPTOP JUST REMOVE .example FROM FILE NAME, 
# OR CREATE ANOTHER .env FILE WITH THE FOLLOWING VALUES
# NOTE THAT DOCKER WILL AUTOMTICALLY COPY THIS FILE CONTENTS INTO .env FILE
# DATABASE_URL "for local setup we will use local db and we will load our fixture full_data.json into it"
SECRET_KEY="your-secret-key-here"
DATABASE_URL="postgresql://username:password@host/database?sslmode=require"
DEBUG="True"